.box{
    display: flex;
    justify-content: center;
}

.poster{
    background-color: burlywood;
    border: 2px outset;
    border-color: lightgrey black black lightgrey;
    box-shadow: 10px 5px 5px darkgrey;
    width: 600;
    padding: 80px;
    font: 30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

header{
    border: 2px solid;
    border-color: black;
}
main{
    font-size: 20px;
    border: 2px solid;
    margin-top: 60px; 
}

img{
    border: 10px ridge;
    border-color: darkgrey;
    margin: 50px;
    
}

footer{
    font-size: 12px;
    text-align: center;
}